*{
	margin: 0 ;
	padding: 0;	
}
body{
	
	background-color: #FCFCFB;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	width: 1200px;
	height: 60px;
	margin: 20px auto;
/* 	background-color:#F4F5F7; */
	position: relative;
}
/* 头部左边栏 */
.side-left{
	width: 450px;
	height: 100%;
/* 	background-color: aqua; */
	position: relative;
}
.logo{
	width: 278px;
	height: 48px;
	position: absolute;
	left: 40px;
	top: 5px;
}
#hcotent{
	position: absolute;
	left: 367px;
	top:20px ;
	width: 64px;
	height: 118px;
	z-index: 300;

}
#daohang{
	position:relative;
}
#daohang a{
	border-bottom: 1px solid black;
}
#hcotent a{
	color: black;
}
#hcotent ul {
	position: relative;
	top: 25px;
	
}
#ula li{
	margin-top: 15px;
}
#ula{
	display: none;
}
/* 头部右边栏 */
.side-right{
	width: 150px;
	height: 100%;
	position: absolute;
	right: 15px;
	top:20px;
}
.side-right a{
	margin-left: 25px;
}
/* 图片区 */
.banner{
	width: 1200px;
	height: 280px;
	margin: 20px auto;
	position: relative;
	background: url(./image/welcome.png) center center no-repeat;
	z-index: 100;
}
/* 主体内容区 */
.bodycontent{
	width: 1200px;
	height: 1000px;
	/* background-color:white; */
	margin: 0 auto;
	position: relative;
}
.imgf{
	width:53px;
	height:29px;
	background-color: #FF0000;
	position: absolute;
	bottom: 16px;
	right: 10px;
	border-radius: 25px;
	float: left;
	border: none;
	outline: none;
}
.imgf img{
	width: 71px;
	height:30px;
	position:absolute;
	bottom: -1px;
	right: -8px;
	
}
.cart{
	width: 60px;
	height:30px;
	

}
.bodycontent-s{
	width: 1200px;
	height: 944px;
	margin: 20px 0;
}
.bs{
	width: 361px;
	height: 445px;
	float: left;
	position: relative;
	margin: 13px 53px 10px 0px;
	background-color:#F8F8FF;
	border: 1px solid gainsboro;
	box-shadow: 0px 0px 2px 3px gainsboro;
}
.bs2{
	margin-right: 0px;
}
.bs hgroup{
	width: 344px;
	font-size: 21px;
	font-weight: bold;
	color: red;
	margin-left: 17px;
}
.bs p,.imgf{
	margin: 12px 18px;
}
.jiage{
	color: red;
	font-size: 22px;
	display: inline-block;
}
/* 尾部 */
.yejiao ul{
	text-align: center;
	margin-bottom: 20px;
	margin-left: 377px;
	
}
.yejiao{
	width: 1200px;
	height: 30px;
}
.yejiao ul li{
	float: left;
	margin: 0 10px;
}
.yejiao ul li span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: #808080;
	border-radius: 20px;
}
.yejiao ul li a{
	color: #000000;
}
/* 页脚 */
footer{
	width: 1200px;
	height: 20px;
	margin: 20px auto;
}
footer .hr{
	width: 1200px;
	height: 40px;
border-top: 1px solid rgba(200,200,200,.6);
}
footer p{
	text-align: center;
	line-height:40px ;
	margin-top: 10px;
}
footer p span{
	color: red;
}


